* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: red;
  transition: background-color 0.3s ease;
}

#colorPicker {
  margin-top: 10px;
}
#applyColor {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #000;
}
